<div class="card shadow">

    <div class="card-header bg-success text-white">

        <h3>Add Employee</h3>

    </div>

    <div class="card-body">

        <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">

            <div class="mb-3">

                <label>First Name</label>

                <input class="form-control" formControlName="firstName">

            </div>

            <div class="mb-3">

                <label>Last Name</label>

                <input class="form-control" formControlName="lastName">

            </div>

            <div class="mb-3">

                <label>Email</label>

                <input class="form-control" formControlName="email">

            </div>

            <div class="mb-3">

                <label>Department</label>

                <input class="form-control" formControlName="department">

            </div>

            <div class="mb-3">

                <label>Salary</label>

                <input type="number" class="form-control" formControlName="salary">

            </div>

            <button class="btn btn-success">

                Save Employee
            </button>
        </form>
    </div>
</div>